@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

img {
  transition: all 1.5s ease 0s;
}

button,
span,
input,
a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header {
  width: 100%;
}
header .header-top {
  width: 100%;
  padding: 35px 25px;
}
header .header-top .h-t-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
header .header-top .h-t-nav .nav-left {
  width: 25%;
  padding: 0 14.4px;
  display: flex;
  justify-content: flex-start;
}
header .header-top .h-t-nav .nav-left ul {
  display: flex;
}
header .header-top .h-t-nav .nav-left ul li {
  margin-right: 25px;
}
header .header-top .h-t-nav .nav-left ul li a i {
  font-size: 14px;
  display: block;
  line-height: 28px;
  color: #929292;
}
header .header-top .h-t-nav .nav-middle {
  padding: 14.4px;
  width: 50%;
  text-align: center;
}
header .header-top .h-t-nav .nav-middle a img {
  width: 107px;
}
header .header-top .h-t-nav .nav-right {
  padding: 14.4px;
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
header .header-top .h-t-nav .nav-right ul {
  display: flex;
}
header .header-top .h-t-nav .nav-right ul li {
  position: relative;
}
header .header-top .h-t-nav .nav-right ul li a {
  line-height: 40px;
  padding: 20px 20px;
  position: relative;
}
header .header-top .h-t-nav .nav-right ul li a i {
  font-size: 22px;
  color: #292929;
}
header .header-top .h-t-nav .nav-right ul li a i span {
  position: absolute;
  font-weight: 400;
  color: #ee3333;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  border-radius: 50%;
  margin-top: -10px;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu {
  width: 320px;
  background-color: #fff;
  padding: 5px 20px;
  position: absolute;
  right: 15px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  transition: 1s;
  display: none;
  z-index: 99;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items {
  width: 100%;
  display: block;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
  position: relative;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-img a {
  padding: 0 !important;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-title {
  margin-top: -10px;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-title a {
  margin-top: -10px;
  font-size: 12px;
  padding: 0 !important;
  color: #222222;
  font-weight: 600;
  transition: 0.3s;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-title a:hover {
  color: #ee3333;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-title span {
  margin-top: -10px !important;
  font-size: 16px;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-title .color {
  color: #ee3333;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-trash a {
  padding: 0 !important;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-trash a i {
  font-size: 16px;
  transition: 0.3s;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .items li .items-trash a:hover i {
  color: #ee3333;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .total-price {
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .total-price h5 {
  color: #3e3d43;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .shopping-btn {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .shopping-btn a {
  padding: 0 !important;
  text-align: center;
  background-color: #333333;
  color: #fff;
  font-size: 16px;
  padding: 10px 18px;
  font-weight: 600;
  transition: 0.3s;
}
header .header-top .h-t-nav .nav-right ul li #shopping-menu .shopping-btn a:hover {
  background-color: #ee3333;
}
header .header-top .h-t-nav .nav-right ul .shopping-dropdown:hover #shopping-menu {
  display: block;
}
header .header-bottom {
  width: 100%;
}
header .header-bottom .bottom-nav {
  width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
header .header-bottom .bottom-nav ul {
  display: flex;
}
header .header-bottom .bottom-nav ul li {
  position: relative;
}
header .header-bottom .bottom-nav ul li a {
  padding: 40px 0;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #292929;
  text-transform: uppercase;
  display: block;
  margin: 0 37px 0 0;
  position: relative;
  transition: 0.3s;
}
header .header-bottom .bottom-nav ul li a:hover {
  color: #ee3333;
}
header .header-bottom .bottom-nav ul li:hover #home-menu {
  display: block;
}
header .header-bottom .bottom-nav ul li:hover #shop-menu {
  display: block;
}
header .header-bottom .bottom-nav ul li:hover #blog-menu {
  display: block;
}
header .header-bottom .bottom-nav ul li #home-menu {
  position: absolute;
  margin-top: 0;
  display: none;
  visibility: visible;
  z-index: 99;
  padding: 20px 0;
  background-color: #ffffff;
  left: 0;
  top: 100%;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease 0s;
  width: 210px;
}
header .header-bottom .bottom-nav ul li #home-menu li {
  margin-bottom: 5px;
  position: relative;
}
header .header-bottom .bottom-nav ul li #home-menu li a {
  font-family: "Poppins", sans-serif;
  color: #292929;
  display: block;
  font-size: 13px;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0 20px;
}
header .header-bottom .bottom-nav ul li #home-menu li a:hover {
  color: #ee3333;
  transform: translatex(5px);
}
header .header-bottom .bottom-nav ul li #shop-menu {
  display: none;
  position: absolute;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 99;
  width: 770px;
  height: 400px;
  top: 100%;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-bottom: 2px solid #ee3333;
  text-align: left;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease 0s;
}
header .header-bottom .bottom-nav ul li #shop-menu div {
  padding: 0 5px;
  width: 25%;
  float: left;
  position: relative;
  margin: 34px 0;
  border-left: 1px solid #eeeeee;
}
header .header-bottom .bottom-nav ul li #shop-menu div a {
  margin: 0 0 12px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 20px;
  color: #292929;
  display: inline-block;
  padding: 0;
}
header .header-bottom .bottom-nav ul li #shop-menu div .pages {
  display: block;
  position: absolute;
}
header .header-bottom .bottom-nav ul li #shop-menu div .pages li {
  margin: 0;
}
header .header-bottom .bottom-nav ul li #shop-menu div .pages li a {
  padding: 0 20px;
  display: inline-block;
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  color: #292929;
  text-transform: capitalize;
  margin: 0;
  transition: 0.3s;
}
header .header-bottom .bottom-nav ul li #shop-menu div .pages li a:hover {
  color: #ee3333;
}
header .header-bottom .bottom-nav ul li #shop-menu .border1 {
  border: none;
}
header .header-bottom .bottom-nav ul li #shop-menu .border4 {
  border: none;
  position: relative;
}
header .header-bottom .bottom-nav ul li #shop-menu .border4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 45%;
  background-color: #eeeeee;
  width: 1px;
}
header .header-bottom .bottom-nav ul li #blog-menu {
  display: none;
  position: absolute;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  z-index: 99;
  left: 0;
  top: 100%;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease 0s;
  width: 210px;
}
header .header-bottom .bottom-nav ul li #blog-menu li {
  margin-bottom: 5px;
  position: relative;
}
header .header-bottom .bottom-nav ul li #blog-menu li a {
  font-family: "Poppins", sans-serif;
  color: #292929;
  display: block;
  font-size: 13px;
  line-height: 35px;
  font-weight: 400;
  padding: 0 20px;
  transition: all 0.3s ease 0s;
  text-transform: capitalize;
}
header .header-bottom .bottom-nav ul li #blog-menu li a:hover {
  color: #ee3333;
  transform: translateX(5px);
}

.page1 {
  width: 100%;
  background-image: url("https://htmldemo.net/ginza/ginza/assets/images/hero/hero-1.jpg");
  display: flex;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  height: 840px;
  margin: 0 auto;
}
.page1 .page1-content {
  position: absolute;
  top: 50%;
  left: 10%;
}
.page1 .page1-content h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 30px;
}
.page1 .page1-content h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
  color: #292929;
  margin-bottom: 40px;
}
.page1 .page1-content a {
  display: block;
  width: 170px;
  text-transform: uppercase;
  border-color: #292929;
  color: #292929;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #292929;
  font-size: 15px;
  height: 55px;
  line-height: 51px;
  font-weight: 500;
  padding: 0px 35px;
  transition: all 0.3s ease 0s;
  position: relative;
  outline: none;
}
.page1 .page1-content a:hover {
  color: #ffffff;
  background-color: #ee3333;
  border-color: #ee3333;
}
.page1 .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 93%;
  gap: 10px;
}
.page1 .slider span {
  display: block;
  padding: 0;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  background-color: #929292;
  border-radius: 100%;
  transition: 0.4s;
  cursor: pointer;
}
.page1 .slider span:hover {
  background-color: #ffffff;
  border-color: #ee3333;
}

.part1 {
  width: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.part1 .box {
  position: relative;
  padding: 0 14.4px;
}
.part1 .box a img {
  width: 100%;
}
.part1 .box .box-content {
  position: absolute;
  left: 50px;
  top: 50px;
}
.part1 .box .box-content h4 {
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 8px;
}
.part1 .box .box-content h3 {
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 5px;
  font-weight: 500;
}
.part1 .box .box-content a {
  margin-top: 15px;
  font-size: 14px;
  color: #808080;
  line-height: 1;
  display: inline-block;
  transition: 0.3s;
}
.part1 .box .box-content a:hover {
  color: #ee3333;
}
.part1 .box .box-content a i {
  font-size: 16px;
  color: #ee3333;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.part2 {
  padding-top: 50px;
}
.part2 .part2-content {
  padding: 0 24px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.part2 .part2-content .content-main {
  width: 100%;
  border-top: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.part2 .part2-content .content-main .content-left {
  width: 25%;
  position: relative;
  padding-right: 15px;
}
.part2 .part2-content .content-main .content-left .content-left-title {
  padding: 15px;
  position: relative;
}
.part2 .part2-content .content-main .content-left .content-left-title::before {
  background: #f0f0f0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: 9;
}
.part2 .part2-content .content-main .content-left .content-left-title h3 {
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
}
.part2 .part2-content .content-main .content-left .content-left-title h2 {
  font-size: 39px;
  line-height: 1.2;
  color: #929292;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.part2 .part2-content .content-main .content-left .content-left-tabmenu ul li {
  flex-basis: 100%;
  text-align: center;
  display: block;
  border-bottom: 1px solid #e3e3e3;
}
.part2 .part2-content .content-main .content-left .content-left-tabmenu ul li .active {
  background-color: #ee3333;
  color: #ffffff;
}
.part2 .part2-content .content-main .content-left .content-left-tabmenu ul li a {
  font-size: 14px;
  line-height: 21px;
  display: block;
  padding: 23px 25px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  background-color: #f0f0f0;
  color: #292929;
}
.part2 .part2-content .content-main .content-left .content-left-tabmenu ul li a:hover {
  background-color: #ee3333;
  color: #ffffff;
}
.part2 .part2-content .content-main .content-right {
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.part2 .part2-content .content-main .content-right .content-right-product {
  width: 296px;
  position: relative;
  margin-bottom: 20px;
}
.part2 .part2-content .content-main .content-right .content-right-product:hover .product-img .add {
  opacity: 1;
  transform: translateY(-50px);
}
.part2 .part2-content .content-main .content-right .content-right-product:hover .product-img a .opacity {
  opacity: 1;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img {
  width: 100%;
  position: relative;
  height: 354.66px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .product-label {
  position: relative;
  width: 100%;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .product-label span {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  transition: all 0.3s ease 0s;
  font-size: 13px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .product-label .label-right {
  background-color: #292929;
  left: auto;
  right: 20px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .product-label .label-left {
  background-color: #ee3333;
  left: 20px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img a {
  display: block;
  width: 100%;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img a img {
  width: 100%;
  transition: 0.6s;
  position: absolute;
  height: auto;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img a .opacity {
  opacity: 0;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .add {
  padding: 5px 15px;
  width: 85%;
  display: flex;
  gap: 25px;
  z-index: 55;
  position: absolute;
  visibility: visible;
  opacity: 0;
  bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.1);
  left: 8%;
  margin-bottom: -50px;
  transition: all 0.4s ease-in-out;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .add a {
  display: inline-block;
  white-space: nowrap;
  margin: 0 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  color: #292929;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-right: 20px;
  box-sizing: border-box;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .add a:hover {
  color: #ee3333;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .add ul {
  display: flex;
  gap: 20px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-img .add ul li a {
  float: left;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text .product-text-top {
  margin-top: 20px;
  color: #929292;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text .product-text-top span {
  color: orange;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text .product-text-top span .p-t-top-link {
  color: #929292;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text .product-text-top span .p-t-top-link:hover {
  color: #292929;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text .product-text-top span .outcolor {
  color: #929292;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text a {
  font-size: 14px;
  color: #292929;
  transition: 0.4s;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text a:hover {
  color: #ee3333;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text p {
  display: flex;
  margin-top: 10px;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text p span {
  font-size: 16px;
  line-height: 22px;
  margin-right: 10px;
  font-family: "Karla", sans-serif;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text p .red {
  font-weight: 700;
  color: #e33;
}
.part2 .part2-content .content-main .content-right .content-right-product .product-text p .grey {
  font-weight: 500;
  line-height: 22px;
  color: #929292;
  font-family: "Karla", sans-serif !important;
}

.part3 {
  padding-top: 50px;
}
.part3 .part3-content {
  padding: 0 24px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.part3 .part3-content .content-main {
  width: 100%;
  border-top: 1px solid #ebebeb;
}
.part3 .part3-content .content-main .content-main-title {
  height: 60px;
  display: flex;
  align-items: center;
}
.part3 .part3-content .content-main .content-main-title h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-transform: capitalize;
  color: #292929;
}
.part3 .part3-content .content-main .content-right {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.part3 .part3-content .content-main .content-right .content-right-product {
  width: 296px;
  position: relative;
}
.part3 .part3-content .content-main .content-right .content-right-product:hover .product-img .add {
  opacity: 1;
  transform: translateY(-50px);
}
.part3 .part3-content .content-main .content-right .content-right-product:hover .product-img a .opacity {
  opacity: 1;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img {
  width: 100%;
  position: relative;
  height: 354.66px;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .product-label {
  position: relative;
  width: 100%;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .product-label span {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  transition: all 0.3s ease 0s;
  font-size: 13px;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .product-label .label-right {
  background-color: #292929;
  left: auto;
  right: 20px;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .product-label .label-left {
  background-color: #ee3333;
  left: 20px;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img a {
  display: block;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img a img {
  width: 100%;
  transition: 0.6s;
  position: absolute;
  height: auto;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img a .opacity {
  opacity: 0;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .add {
  padding: 5px 15px;
  width: 85%;
  display: flex;
  gap: 25px;
  z-index: 55;
  position: absolute;
  visibility: visible;
  opacity: 0;
  bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.1);
  left: 8%;
  margin-bottom: -50px;
  transition: all 0.4s ease-in-out;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .add a {
  display: inline-block;
  white-space: nowrap;
  margin: 0 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  color: #292929;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-right: 20px;
  box-sizing: border-box;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .add a:hover {
  color: #ee3333;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .add ul {
  display: flex;
  gap: 20px;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-img .add ul li a {
  float: left;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text .product-text-top {
  margin-top: 20px;
  color: #929292;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text .product-text-top span {
  color: orange;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text .product-text-top span .p-t-top-link {
  color: #929292;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text .product-text-top span .p-t-top-link:hover {
  color: #292929;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text .product-text-top span .outcolor {
  color: #929292;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text a {
  font-size: 14px;
  color: #292929;
  transition: 0.4s;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text a:hover {
  color: #ee3333;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text p {
  display: flex;
  margin-top: 10px;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text p span {
  font-size: 16px;
  line-height: 22px;
  margin-right: 10px;
  font-family: "Karla", sans-serif;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text p .red {
  font-weight: 700;
  color: #e33;
}
.part3 .part3-content .content-main .content-right .content-right-product .product-text p .grey {
  font-weight: 500;
  line-height: 22px;
  color: #929292;
  font-family: "Karla", sans-serif !important;
}

.part4 {
  width: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.part4 .box {
  position: relative;
  padding: 0 14.4px;
  height: 332.63;
}
.part4 .box a img {
  width: 100%;
}
.part4 .box .box-content {
  position: absolute;
  left: 50px;
  top: 50px;
}
.part4 .box .box-content h4 {
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 8px;
}
.part4 .box .box-content h3 {
  font-size: 40px;
  line-height: 46px;
  max-width: 280px;
  color: #333333;
  margin-bottom: 5px;
  font-weight: 500;
}
.part4 .box .box-content a {
  margin-top: 20px;
  font-size: 18px;
  color: #808080;
  line-height: 1;
  display: inline-block;
  transition: 0.3s;
}
.part4 .box .box-content a:hover {
  color: #ee3333;
}
.part4 .box .box-content a i {
  font-size: 16px;
  color: #ee3333;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.part5 {
  padding-top: 50px;
}
.part5 .part5-content {
  padding: 0 24px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.part5 .part5-content .content-main {
  width: 100%;
  border-top: 1px solid #ebebeb;
}
.part5 .part5-content .content-main .content-main-title {
  height: 60px;
  display: flex;
  align-items: center;
}
.part5 .part5-content .content-main .content-main-title h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-transform: capitalize;
  color: #292929;
}
.part5 .part5-content .content-main .content-right {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.part5 .part5-content .content-main .content-right .content-right-product {
  width: 296px;
  position: relative;
}
.part5 .part5-content .content-main .content-right .content-right-product:hover .product-img .add {
  opacity: 1;
  transform: translateY(-50px);
}
.part5 .part5-content .content-main .content-right .content-right-product:hover .product-img a .opacity {
  opacity: 1;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img {
  width: 100%;
  position: relative;
  height: 354.66px;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .product-label {
  position: relative;
  width: 100%;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .product-label span {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  top: 20px;
  transition: all 0.3s ease 0s;
  font-size: 13px;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .product-label .label-right {
  background-color: #292929;
  left: auto;
  right: 20px;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .product-label .label-left {
  background-color: #ee3333;
  left: 20px;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img a {
  display: block;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img a img {
  width: 100%;
  transition: 0.6s;
  position: absolute;
  height: auto;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img a .opacity {
  opacity: 0;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .add {
  padding: 5px 15px;
  width: 85%;
  display: flex;
  gap: 25px;
  z-index: 55;
  position: absolute;
  visibility: visible;
  opacity: 0;
  bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.1);
  left: 8%;
  margin-bottom: -50px;
  transition: all 0.4s ease-in-out;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .add a {
  display: inline-block;
  white-space: nowrap;
  margin: 0 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  color: #292929;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-right: 20px;
  box-sizing: border-box;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .add a:hover {
  color: #ee3333;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .add ul {
  display: flex;
  gap: 20px;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-img .add ul li a {
  float: left;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text .product-text-top {
  margin-top: 20px;
  color: #929292;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text .product-text-top span {
  color: orange;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text .product-text-top span .p-t-top-link {
  color: #929292;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text .product-text-top span .p-t-top-link:hover {
  color: #292929;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text .product-text-top span .outcolor {
  color: #929292;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text a {
  font-size: 14px;
  color: #292929;
  transition: 0.4s;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text a:hover {
  color: #ee3333;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text p {
  display: flex;
  margin-top: 10px;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text p span {
  font-size: 16px;
  line-height: 22px;
  margin-right: 10px;
  font-family: "Karla", sans-serif;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text p .red {
  font-weight: 700;
  color: #e33;
}
.part5 .part5-content .content-main .content-right .content-right-product .product-text p .grey {
  font-weight: 500;
  line-height: 22px;
  color: #929292;
  font-family: "Karla", sans-serif !important;
}

.part6 {
  width: 1200px;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.part6 .part6-container {
  width: 706px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 60px 0px;
}
.part6 .part6-container img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.part6 .part6-container p {
  color: #707070;
  font-size: 13px;
  line-height: 2;
  font-size: 13px;
  margin-bottom: 16px;
}
.part6 .part6-container .img2 {
  width: 29px;
  height: 22px;
  margin-bottom: 15px;
}
.part6 .part6-container .p2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #292929;
}
.part6 .part6-container span {
  display: block;
  font-size: 13px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  color: #929292;
  margin-bottom: 30px !important;
}
.part6 .part6-container ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.part6 .part6-container ul li button {
  width: 14px;
  height: 14px;
  border: 2px solid #ee3333;
  border-radius: 100%;
}

.part7 {
  padding-top: 80px;
}
.part7 .part7-container {
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #ebebeb;
  padding-bottom: 60px;
  border-bottom: 1px solid #ebebeb;
}
.part7 .part7-container .part7-title {
  margin-bottom: 20px;
  padding-top: 20px;
}
.part7 .part7-container .part7-title h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
  color: #292929;
}
.part7 .part7-container .part7-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.part7 .part7-container .part7-boxes .part7-box {
  width: 394px;
}
.part7 .part7-container .part7-boxes .part7-box:hover img {
  transform: scale(1.1);
  overflow: hidden;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-img {
  width: 100%;
  height: 217.78px;
  overflow: hidden;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-img :hover {
  cursor: pointer;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-img img {
  width: 100%;
  height: 100%;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content {
  padding: 20px 0;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content h3 {
  margin-bottom: 12px;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content h3 a {
  font-size: 17px;
  font-weight: 500;
  color: #292929;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content ul {
  display: flex;
  margin-bottom: 10px;
  font-size: 13px;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  color: #929292;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content ul li a {
  color: #ee3333;
  text-transform: lowercase;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content ul .first-li {
  position: relative;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content ul .first-li::after {
  content: "-";
  margin: 0 10px;
  color: #929292;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content .content-button {
  display: inline-block;
  color: #292929;
  font-size: 14px;
  font-weight: 600;
  height: 44px;
  line-height: 40px;
  margin-top: 15px;
  min-width: 117px;
  padding: 0 20px;
  border: 2px solid #ebebeb;
  border-color: #292929;
}
.part7 .part7-container .part7-boxes .part7-box .part7-box-content .content-button:hover {
  border-color: #ee3333;
  background-color: #ee3333;
  color: #ffffff;
}

.part8 {
  padding-top: 80px;
  width: 100%;
}
.part8 .part8-content {
  padding: 75px 0 80px;
  text-align: center;
}
.part8 .part8-content p {
  font-size: 13px;
  color: #929292;
}
.part8 .part8-content h3 {
  font-size: 24px;
  color: #292929;
  margin-bottom: 20px;
  line-height: 28px;
  font-weight: 500;
}
.part8 .part8-content .content-div {
  position: relative;
  border: 2px solid #ebebeb;
  width: 620px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}
.part8 .part8-content .content-div input {
  width: 100%;
  border: none;
  padding: 10px 200px 10px 20px;
  line-height: 30px;
  height: 55px;
  color: #9d9d9d;
  font-size: 13px;
}
.part8 .part8-content .content-div button {
  position: absolute;
  background: none;
  border: none;
  width: 200px;
  border-left: 2px solid #ebebeb;
  font-size: 13px;
  font-weight: 600;
  color: #292929;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-transform: uppercase;
  padding: 1px 6px;
  cursor: pointer;
}
.part8 .part8-content .content-div button:hover {
  color: #ee3333;
}

.part9 {
  width: 100%;
  background-color: #f6f6f6;
}
.part9 .part9-content {
  padding: 80px 0 40px 0;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #ebebeb;
  gap: 20px;
}
.part9 .part9-content .part9-content-l {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}
.part9 .part9-content .part9-content-l a img {
  width: 107px;
}
.part9 .part9-content .part9-content-l p {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 0;
  color: #929292;
}
.part9 .part9-content .part9-content-l h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #292929;
}
.part9 .part9-content .part9-content-l .content-left-links {
  display: flex;
  gap: 22px;
  margin-top: -10px;
}
.part9 .part9-content .part9-content-l .content-left-links a i {
  font-size: 14px;
  display: block;
  line-height: 28px;
  color: #929292;
}
.part9 .part9-content .part9-content-r {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.part9 .part9-content .part9-content-r .opening-time {
  margin-bottom: 40px;
}
.part9 .part9-content .part9-content-r .opening-time h4 {
  font-size: 13px;
  margin-top: 50px;
  font-weight: 500;
  line-height: 17px;
}
.part9 .part9-content .part9-content-r .opening-time p {
  margin-bottom: 15px;
}
.part9 .part9-content .part9-content-r .my-account ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.part9 .part9-content .part9-content-r h3 {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
  margin-bottom: 30px !important;
  line-height: 1.2;
  color: #292929;
}
.part9 .part9-content .part9-content-r p {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 0;
  color: #929292;
}
.part9 .part9-content .part9-content-r a {
  display: block;
  font-size: 13px;
  line-height: 23px;
  color: #929292;
}
.part9 .part9-content .part9-content-r a:hover {
  color: #ee3333;
}
.part9 .part9-content-footer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 25px 0;
}
.part9 .part9-content-footer ul {
  display: flex;
  gap: 30px;
}
.part9 .part9-content-footer ul li a {
  font-size: 13px;
  color: #929292;
}
.part9 .part9-content-footer ul li a:hover {
  color: #ee3333;
}
.part9 .part9-content-footer p {
  font-size: 13px;
  color: #929292;
}
.part9 .part9-content-footer p a {
  color: #ee3333;
}/*# sourceMappingURL=main.css.map */