.part3 {
    padding-top: 50px;

    .part3-content {
        padding: 0 24px;
        width: 1200px;
        margin: 0 auto;
        position: relative;






        .content-main {
            width: 100%;
            border-top: 1px solid #ebebeb;
          

            .content-main-title {
                height: 60px;
                display: flex;
                align-items: center;
                h2 {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 1;
                    text-transform: capitalize;
                    color: #292929;
                }

            }





            .content-right {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;
                gap: 30px;
                // padding: 0 1.5rem;


                .content-right-product {
                    width: 296px;
                    // height: 500px;
                    // padding: 0 15px;
                    position: relative;
                    // margin-bottom: 20px;


                    &:hover {

                        .product-img {
                            .add {
                                opacity: 1;
                                transform: translateY(-50px);
                            }

                            a {
                                .opacity {

                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .product-img {
                        width: 100%;
                        position: relative;
                        height: 354.66px;

                        &:hover {

                            .add {}
                        }



                        .product-label {
                            position: relative;
                            width: 100%;

                            span {
                                position: absolute;
                                z-index: 2;
                                color: #fff;
                                text-align: center;
                                line-height: 50px;
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                display: inline-block;
                                top: 20px;
                                transition: all 0.3s ease 0s;
                                font-size: 13px;
                            }

                            .label-right {
                                background-color: #292929;
                                left: auto;
                                right: 20px;
                            }

                            .label-left {
                                background-color: #ee3333;
                                left: 20px;
                            }
                        }

                        a {
                            display: block;
                            width: 100%;
                            transition: all 0.3s ease 0s;
                            // margin-top: 30px;

                            img {
                                width: 100%;
                                transition: 0.6s;
                                position: absolute;
                                height: auto;


                            }

                            .opacity {
                                opacity: 0;
                            }

                        }

                        .add {

                            padding: 5px 15px;
                            width: 85%;
                            display: flex;
                            gap: 25px;
                            z-index: 55;
                            position: absolute;
                            visibility: visible;
                            opacity: 0;
                            bottom: 20px;
                            background-color: #ffffff;
                            border: 1px solid #ebebeb;
                            box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.1);
                            left: 8%;
                            margin-bottom: -50px;
                            // margin-right: -50%;
                            transition: all 0.4s ease-in-out;



                            a {
                                display: inline-block;
                                white-space: nowrap;
                                margin: 0 !important;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 45px;
                                color: #292929;
                                text-align: center;
                                position: relative;
                                text-transform: uppercase;
                                margin-right: 20px;
                                box-sizing: border-box;

                                &:hover {
                                    color: #ee3333;
                                }
                            }

                            ul {
                                display: flex;
                                gap: 20px;
                                // float: left;

                                li {

                                    a {
                                        float: left;
                                    }
                                }
                            }
                        }

                    }

                    .product-text {


                        .product-text-top {
                            margin-top: 20px;
                            color: #929292;
                            font-size: 13px;
                            display: flex;
                            justify-content: space-between;

                            span {
                                color: orange;

                                .p-t-top-link {
                                    color: #929292;

                                    &:hover {
                                        color: #292929;
                                    }

                                }

                                .outcolor {
                                    color: #929292;
                                }
                            }
                        }

                        a {
                            font-size: 14px;
                            color: #292929;
                            transition: 0.4s;

                            &:hover {
                                color: #ee3333;
                            }
                        }

                        p {
                            display: flex;
                            margin-top: 10px;

                            span {
                                font-size: 16px;
                                line-height: 22px;
                                margin-right: 10px;
                                font-family: "Karla", sans-serif;
                            }

                            .red {
                                font-weight: 700;
                                color: #e33;

                            }

                            .grey {
                                font-weight: 500;
                                line-height: 22px;
                                color: #929292;
                                font-family: "Karla", sans-serif !important;


                            }
                        }
                    }


                }
            }
        }

    }


}